* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
   
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    background-color: transparent;
    border-bottom: 1px solid #dfdbe3;
    background-color: rgb(21, 5, 37);
    margin: 0 auto;
    max-width: 1440px;
    /* border-radius: 10px; */
}
.nav-links {
   list-style: none;
   display: flex;
   gap: 19px;
  
   
}
.nav-links :hover {
    color: chocolate;
}
.logo {
    color: #ffffffff;
    font-size: 30px;
    font-weight: 800;
  
}
.nav-item {
    text-decoration: none;
    color: white;
}
.logo span {
  color: #930c93;
}
.nav-section a {
    text-decoration: none;
    color: white;
}

.nav-section {
    border: 1px solid;
    padding: 5px 8px 8px 8px;
    border-radius: 10px;
    font-weight: bold;
    background-color: #930c93;
}
.nav-section :hover {  
        color: #c9993f;
}
.hero-section {
    display: flex;
    justify-content: center;
    padding: 50px 0;
   padding-top: 0px;
}
.hero-container {
    /* border: 2px solid; */
    width: 100%;
    max-width: 1000px;
    text-align: center;
    padding: 60px 20px;
    /* border-radius: 10px; */
    background: url('/B13-A02-TechWave/assets/hero-bg.png');
    background-size: cover;
}
.main-glow {
    width: 150px;
    height: 150px;
    margin: 0 auto 20px;
    display: flex;
    justify-content: center;
    position: relative;
}
.badge {
    position: absolute;
    top: 10px;
    right: -10px;
    background-color: #0bdc35;
    border-radius: 10px;
   color: black;
   font-size: 10px;
   font-weight: bold;
   padding: 2px 8px;
}
h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    letter-spacing: 2px;
    color: white;
}
.btn-spotify {
    background-color: #930c93;
    border-radius: 5px;
    /* gap: 5px; */
    /* justify-content: center;
    padding: 0 5px 5px 5px; */
}
.cta-buttons {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 15px;
}
.btn {
    padding: 12px 25px;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
    border: none;
}
.spotify {
    background: #0bdc35;
    color: white;
}
.subscribe-outline {
    background: transparent;
    border: 1px solid #00ff88;
}













    


