* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
   
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    background-color: transparent;
    border-bottom: 1px solid #dfdbe3;
    background-color: rgb(21, 5, 37);
    margin: 0 auto;
    max-width: 1440px;
}
.nav-links {
   list-style: none;
   display: flex;
   gap: 19px;
  
   
}
.nav-links :hover {
    color: chocolate;
}
.logo {
    color: #ffffffff;
    font-size: 30px;
    font-weight: 800;
  
}
.nav-item {
    text-decoration: none;
    color: white;
}
.logo span {
  color: #930c93;
}
.nav-section a {
    text-decoration: none;
    color: white;
}

.nav-section {
    border: 1px solid;
    padding: 5px 8px 8px 8px;
    border-radius: 10px;
    font-weight: bold;
    background-color: #930c93;
}
.nav-section :hover {  
        color: #c9993f;
}
@media screen and (min-width:576), (max-width:992){

              .navbar {
                    
              }





}

    


